/*--------------------------------------------

1. common
      - fonts
      - text defaults
      - title defaults
      - text config
      - container
      - buttons frame
      - suptitle
      - divider
      - image defaults
      - link defaults
      - table
      - quote
      - list
2. link
3. buttons
4. space
5. app marcup
      - top background
      - preloader
      - scroll frame
      - app
      - mobile top bar
      - info bar
      - content
      - menu bar
      - marcup media queries
6. info bar
      - header
      - name
      - language skills
      - hard skills
      - knowledge
      - info bar links
      - social links
      - progresbar color
7. menu bar
      - main menu
      - language change
      - current page title
8. content
      - section title
      - card
      - banner
      - typing code
      - counters
      - services
      - price
      - testimonials
      - timeline
      - contact form
      - blog
      - pagination
      - brands
      - footer
9. portfolio
      - filter
      - portfolio items
      - touch device querie
      - single project
      - fancybox customization
10. media queries
11. burger button
12. transitions
      - in animation
      - out animation


--------------------------------------------*/
/*
$main-color: #FFC107
$main-color: #f44336;
$main-color: #4CAF50;
$main-color: #64B5F6;
*/
/* ------------------------------

common

------------------------------ */
/* ----- fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* ----- text defaults ----- */
body {
  color: rgb(140, 140, 142);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-smooth: subpixel-antialiased;
}

/* ----- title defaults ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: rgb(250, 250, 252);
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

h4 {
  font-size: 17px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 400;
}

/* ----- text config ----- */
.art-sm-text {
  font-size: 11px;
}

.art-lg-text {
  font-size: 16px;
}

.art-white {
  color: rgb(250, 250, 252);
}

/* ----- container ----- */
.container-fluid {
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}




/* ------------------------------

space

------------------------------ */
.p-30-0 {
  padding-top: 30px;
  padding-bottom: 0;
}

.p-0-30 {
  padding-top: 0;
  padding-bottom: 30px;
}

.p-30-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-30-15 {
  padding-top: 30px;
  padding-bottom: 15px;
}

.p-15-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-15-0 {
  padding-top: 15px;
  padding-bottom: 0;
}

.p-60-0 {
  padding-top: 60px;
  padding-bottom: 0;
}

.p-230-0 {
  padding-top: 230px;
  padding-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 25px;
}

@media (max-width: 1400px) {
  .p-lg-30-0 {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media (max-width: 920px) {
  .p-md-15-0 {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

/* ----- preloader ----- */
.art-preloader {
  margin: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  background: rgb(32, 32, 42);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.art-preloader .art-preloader-content {
  margin-bottom: 15px;
  text-align: center;
}
.art-preloader .art-preloader-content .art-preloader-load {
  margin-top: 5px;
  width: 200px;
}
.art-preloader .art-preloader-content .art-preloader-load .progressbar-text {
  position: relative;
  font-size: 14px;
  font-weight: 400 !important;
  color: rgb(140, 140, 142) !important;
  height: 300px;
  line-height: 350px;
}

.art-preloader-load path:first-child {
  stroke: rgb(25, 25, 35);
}
.art-preloader-load path:last-child {
  stroke: #FFC107;
}

/* ----- scroll frame ----- */
.art-scroll-frame {
  width: 100%;
  height: calc(100vh - 30px);
}

.scrollbar-track {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}


/* ------------------------------

app marcup (after 920px)

------------------------------ */
@media (max-width: 920px) {
  /* ----- container ----- */
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ----- preloader ----- */
  .art-preloader {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  /* ----- scroll frame ----- */
  .art-scroll-frame {
    height: 100vh;
  }
  .art-app {
    padding: 0;
    /* ----- mobile top bar ----- */
  }
  .art-app .art-mobile-top-bar {
    display: flex;
  }
  .art-app .art-app-wrapper {
    border-radius: 0;
    height: 100vh;
  }
  .art-app .art-app-wrapper .art-app-container {
    width: 100%;
    /* ----- info bar ----- */
    /* ----- content ----- */
    /* ----- menu bar ----- */
  }
  .art-app .art-app-wrapper .art-app-container .art-info-bar {
    position: absolute;
    left: -290px;
    width: 290px;
    height: 100vh;
  }
  .art-app .art-app-wrapper .art-app-container .art-info-bar.art-active {
    transform: translateX(290px);
  }
  .art-app .art-app-wrapper .art-app-container .art-info-bar .art-info-bar-frame .art-info-bar-header {
    display: flex;
  }
  .art-app .art-app-wrapper .art-app-container .art-info-bar .art-info-bar-frame .art-info-bar-header .art-info-bar-btn {
    transform: translateX(70px);
    transition: 0.4s ease-in-out;
  }
  .art-app .art-app-wrapper .art-app-container .art-info-bar.art-active .art-info-bar-frame .art-info-bar-btn {
    transform: translateX(0);
  }
  .art-app .art-app-wrapper .art-app-container .art-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-right: 0;
    padding-top: 70px;
  }
  .art-app .art-app-wrapper .art-app-container .art-content .art-scroll-frame {
    height: calc(100vh - 70px);
  }
  .art-app .art-app-wrapper .art-app-container .art-content.art-active {
    transform: none;
  }
  .art-app .art-app-wrapper .art-app-container .art-content.art-active .art-curtain {
    pointer-events: all;
    opacity: 1;
  }
  .art-app .art-app-wrapper .art-app-container .art-menu-bar {
    position: absolute;
    right: -230px;
    width: 230px;
    height: 100vh;
  }
  .art-app .art-app-wrapper .art-app-container .art-menu-bar.art-active {
    transform: translateX(-230px);
  }
  .art-app .art-app-wrapper .art-app-container .art-menu-bar .art-menu-bar-btn {
    transform: translateX(-80px);
    transition: 0.4s ease-in-out;
  }
  .art-app .art-app-wrapper .art-app-container .art-menu-bar.art-active .art-menu-bar-btn {
    transform: translateX(0);
  }
}
/* ------------------------------

app marcup (after 290px)

------------------------------ */
@media (max-width: 290px) {
  .art-app {
    /* ----- info bar ----- */
  }
  .art-app .art-info-bar {
    width: 100vw;
  }
}
/* ------------------------------

app marcup (after 230px)

------------------------------ */
@media (max-width: 230px) {
  .art-app {
    /* ----- menu bar ----- */
  }
  .art-app .art-menu-bar {
    width: 100vw;
  }
}
.art-app-onepage .art-app-wrapper .art-app-container .art-content {
  padding-right: 0;
}




.art-grid {
  transition: 0.55s ease-in-out;
  width: 100%;
  /* clear fix */
}
.art-grid:after {
  content: "";
  display: block;
  clear: both;
}
.art-grid .art-grid-item {
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  height: auto;
  padding: 0 15px;
}
.art-grid .art-grid-item .art-item-description {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 15px;
  width: calc(100% - 29px);
  padding: 30px;
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.98) 0%, rgba(43, 43, 53, 0.98) 100%);
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  transform: translateY(100%);
  transition: 0.55s ease-in-out;
}
.art-grid .art-grid-item:hover .art-item-description {
  transform: translateY(0);
}
.art-grid.art-grid-2-col .art-grid-item {
  width: 50%;
}
.art-grid.art-grid-2-col .art-grid-item .art-portfolio-item-frame.art-horizontal {
  padding-bottom: 66.7%;
}
.art-grid.art-grid-2-col .art-grid-item .art-portfolio-item-frame.art-vertical {
  padding-bottom: 140%;
}
.art-grid.art-grid-2-col .art-grid-item .art-portfolio-item-frame.art-square {
  padding-bottom: 90%;
}
.art-grid.art-grid-3-col .art-grid-item {
  width: 33.3333%;
}
.art-grid.art-grid-3-col .art-grid-item .art-portfolio-item-frame.art-horizontal {
  padding-bottom: 65%;
}
.art-grid.art-grid-3-col .art-grid-item .art-portfolio-item-frame.art-vertical {
  padding-bottom: 140%;
}
.art-grid.art-grid-3-col .art-grid-item .art-portfolio-item-frame.art-square {
  padding-bottom: 90%;
}



/* ----- out animation ----- */
html.is-animating .transition-fade {
  opacity: 0;
}
html.is-animating .transition-fade .art-a {
  transform: scale(0.93);
  opacity: 0;
}

html.is-animating .art-a, html.is-animating .art-current-page {
  opacity: 0;
}

/* ----- in animation ----- */
.fade-right {
  transform: translateX(0);
  opacity: 1;
}

/* ----- out animation ----- */
html.is-animating .fade-right {
  transform: translateX(-60px);
  opacity: 0;
}

/* ----- in animation ----- */
.fade-left {
  transform: translateX(0);
  opacity: 1;
}

/* ----- out animation ----- */
html.is-animating .fade-left {
  transform: translateX(60px);
  opacity: 0;
}

@media (max-width: 920px) {
  .transition-fade .art-price.art-popular-price {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */